body {
    font-family: 'Courier';
    margin: 0px;
    background-image: url('../img/engraving.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 1s ease-in-out;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#index {
    margin-top: 20vh;
}
.text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    align-self: center;
    border-radius: 4px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 24px;
}
.text-box > h3 {
    width: 100%;
    text-align: center;
}
.flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

img {
    padding: 4px;
}